.cell {
  width: 50px;
  height: 50px;
  border: solid black;
}

.head {
  background-color: black;
}

.body {
  background-color: gray;
}

.fruit {
  background: url("../../assets/apple.svg");
  background-size: contain;
}
